    .container{
        width: 90%;
        height: 100%;
        padding: 30px;
        margin-left: 20px;
        text-align: center;
        border: 4px solid black;
    }
    .Texto{
        width: 90%;
        margin: 30px;
        border: 2px solid;
        }
    body{
        background-image: url(../image/trem.png);
        width: 100%;
        height: 100%;

    }
    .Escolhas{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;
    }
 
